<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">

</head>
<body>
<button id="logout" class="button" onclick=logout()>Log out</button>
<div id="logged-in">
    <span class="inline">
        <h3>Chats</h3>
        <div id="chat-list-container">
        <ul id="chat-list">

        </ul>
        </div>
    </span>
    <span class="inline" id="chat">
        <label for="message-input">Enter message to send</label>
        <input type="text" id="message-input">
        <button onclick="sendMessage()">send</button>
        <div id="chatbox">
        <ul id="message-list">
        </ul>
        </div>
    </span>

</div>
</body>
<script src="../scripts/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js"
        integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous"></script>
<script src="../scripts/chat.js"></script>

</html>