<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">s
    <title>Title</title>
    <link rel="stylesheet" href="../styles/form.css">

</head>
<body>
<div>
    <div>
        <h2>CHAT APPLICATION</h2>
    </div>
    <div class="center">
        <h2>PLEASE, REGISTER</h2>
        <form id="register">
            <p id="error"> </p>
            <p><b>Username</b></p>
            <p><input type="text" placeholder="Username" id="username"></p>
            <p><b>Password</b></p>
            <p><input type="password" placeholder="Password" id="password"></p>
            <p><input type="submit" id="submit" value="Register"  class="button"></p>
        </form>
    </div>
</div>+
</body>
    <script src = "../scripts/register.js"></script>
    <script src = "../scripts/main.js"></script>
</html>